In [42]:
#exercice1
a=input("enter number1 : ")
b=input("enter number2 : ")
c=input("enter number3 : ")
def maximum(a ,b ,c):
    if (a>b) and (a>c):
        return(a)
    elif (b>a) and (b>c):
        return(b)
    else:
        return(c)
print(maximum(a,b,c))

enter number1 : 12
enter number2 : 23
enter number3 : 34
34

In [2]:
#exercice2
a=int(input("saisir num1"))
b=int(input("saisir num2"))
def function(a,b):
    c1 =a+b
    c2 =a-b
    return c1,c2
function(a,b)

saisir num12
saisir num22

(4, 0)

In [1]:
#exercice3
a=[1,2,3,4,5,6,7,8,9]

def sum(a):
    r=0
    for i in range(len(a)):
        r+=a[i]
    return r
(sum(a))

def mm(a):
    re=1
    for b in range(len(a)):
        re*=a[b]
    return re
(mm(a))
b=a[1::2]
print(mm(b))
c=a[::2]
print(sum(b))
384

384
20

384

In [4]:
#exercice4
item=input("write your words: ")
x=item.split('-')
x.sort()
print('-'.join(x))

write your words: green-red-yellow-black-white
black-green-red-white-yellow

In [10]:
#exercice5
from math import*
numbers = input("Provide D: ")
numbers = numbers.split(',')

result_list = []
for D in numbers:
    Q = round(sqrt(2 * 50 * int(D) / 30))
    result_list.append(Q)

print(result_list)

Provide D: 100,150,180
[18, 22, 24]